{% extends 'blog/base.html' %} 
{% block main %}
<div class="g-wrap">
    <div class="g-pt60">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 m-leftBox">
                    <div class="m-posts">
                        <div class="content">
                            {{post.body|safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}