<!-- S banner -->
<div id="banner" class="m-banner-bg" style="background-image: url({{page_banner}});"></div>
<div class="m-banner">
    <div class="mask"></div>
    <div class="cnt">
        <div class="inner container">
            <div class="txt">
                <h2>{{page_title}}</h2>

                {% if post_detail.author %}
                	<h3>{{post_detail.author}}　{{post_detail.created_time|date:'Y-m-d'}}</h3>
                {% endif %}

                {% if page_subtitle %}
                	<h3>{{page_subtitle}}</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- E banner -->
<script>
	var has_banner = '{{page_banner}}';
</script>
